<script type="text/javascript">
	var brokenImage = function(image){
		$(image).attr("id", "broken-image");
		$(image).next().attr("id", "show-span");
	}
</script>

<div class="row">
	<div class="small-5 columns small-centered">
		<h2>Tours In Progress</h2>
	</div>
</div>

<div class="row">
	<div class="small-10 columns small-centered">
		<% @houses.each do |h| %>
			<section class="panel">

				<div class="row">
					<div class="small-3 columns small-centered"><h4><%= h.house_name %></h4></div>
				</div>

				<ul class="no-bullet">
					<% h.tours.each do |t| %>

						<% if t.completed? %>
							<% status = "tour-complete" %>
						<% else %>
							<% status = "tour-incomplete" %>
						<% end %>

						<li class="tour-wrapper">
							<div class="<%= status %> clearfix">
								<div class="tour-begin-time">Begun: <%= format_time(t.created_at) %></div>
								<% if t.competed? %>
									<div class="tour-end-time">Ended: <%= format_time(t.updated_at) %></div>
								<% end %>
								<div class="tour-completion">Complete: <%= t.completed ? "Yes" : "No" %></div>
							</div>
						</li>
					<% end %>
				</ul>

			</section>
		<% end %>
	</div>
</div>
