<div class="row">
	<div class="small-6 columns small-centered">
		<h2>Completed Check-Ins</h2>
	</div>
</div>

<div class="row">
	<div class="small-3 columns">
		<h4>Report</h4>
		<%= form_tag(report_check_ins_url, {format: :csv, method: :post}) do %>
			<%= select_tag "report[house]", options_from_collection_for_select(@houses, "id", "house_name") %>
			<%= date_field_tag "report[start]" %>
			<%= date_field_tag "report[end]" %>
			<%= submit_tag "Submit", {class: "button small"} %>
		<% end %>
	</div>

	<div class="small-9 columns">
		<table class="check-in-table">
			<thead>
				<tr>
					<td>Status</td>
					<td>Youth Initials</td>
					<td>Comment</td>
					<td>Room</td>
					<td>House</td>
					<td>Time</td>
				</tr>
			</thead>
			<tbody>
				<% @check_ins.each do |c| %>	
					<tr>
						<td><%= c.status %></td>
						<td>
							<% unless c.initials.empty? %>
								<%= c.initials %>
							<% else %>
								N/A
							<% end %>
						</td>
						<td>
							<% unless c.comment.empty? %>
								<%= c.comment %>
							<% else %>
								N/A
							<% end %>
						</td>
						<td><%= c.room.room_name %></td>
						<td><%= c.tour.house.house_name %></td>
						<td><%= format_date_time(c.created_at) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div id="paginateCheckIns">
	<%= paginate @check_ins %>
</div>