<div class="row">
	<div class="small-5 columns small-centered">
		<h2>Completed Check-Ins</h2>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<ul class="no-bullet">
			<% @check_ins.each do |c| %>
				<li class="panel custom">
					<div class="row">
						<div class="small-6 columns">
							<section class="panel">
								Status: <%= c.status %>
							</section>
						</div>
						
						<div class="small-6 columns">
							<section class="panel">
								Youth Initials: 
									<% unless c.initials.empty? %>
										<%= c.initials %>
									<% else %>
										N/A
									<% end %>
							</section>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<section class="panel">
								Comment: 
									<% unless c.comment.empty? %>
										<%= c.comment %>
									<% else %>
										N/A
									<% end %>
							</section>
						</div>
					</div>

					<div class="row">
						<div class="small-6 columns"><section class="panel">Room: <%= c.room.room_name %></section></div>
						<div class="small-6 columns"><section class="panel">House: <%= c.tour.house.house_name %></section></div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<section class="panel">Submitted: <%= format_date_time(c.created_at) %></section>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div id="paginateCheckIns">
	<%= paginate @check_ins %>
</div>