<div class="row">
	<div class="small-7 columns small-centered">
		<h2>Completed Check-Ins</h2>
	</div>
</div>

<div class="row">
	<div class="small-9 columns small-centered">
		<table class="check-in-table">
			<thead>
				<tr>
					<td>Status</td>
					<td>Youth Initials</td>
					<td>Comment</td>
					<td>Room</td>
					<td>House</td>
					<td>Time</td>
				</tr>
			</thead>
			<tbody>
				<% @check_ins.each do |c| %>	
					<tr>
						<td><%= c.status %></td>
						<td>
							<% unless c.initials.empty? %>
								<%= c.initials %>
							<% else %>
								N/A
							<% end %>
						</td>
						<td>
							<% unless c.comment.empty? %>
								<%= c.comment %>
							<% else %>
								N/A
							<% end %>
						</td>
						<td><%= c.room.room_name %></td>
						<td><%= c.tour.house.house_name %></td>
						<td><%= format_date_time(c.created_at) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div id="paginateCheckIns">
	<%= paginate @check_ins %>
</div>