
<!-- write helper method to multiply forms by number of beds in the room
need to use aA hack to send data as an 'array'
need that 'array' to create multiple check-in objects at controller level
(ActiveRecord takes an array to create multiple objects at once) -->

<h1>NEW CHECK IN</h1>

<!-- QR SCANNER GOES HERE sends ajax request (to room controller? to check_in controller API?) get num_beds for the room-->

	<!-- this will fill out based on QR scan; need to write javascript to multiply the forms by the room's num_beds value  -->

<form action="<%= tour_check_ins_url(@tour.id) %>" method="post">
	<%= auth_token %>

<div>
	FIRST CHECK_IN

	<select name="room[check_in][][status]">
		<option value="awake">Asleep</option>
		<option value="sleep">Awake</option>
		<option value="bathroom">Bathroom</option>
		<option value="pass">Pass</option>
		<option value="awol">AWOL</option>
	</select>

	<select name="room[check_in][][room_id]" id="check_in_room_select">
		<% @tour.house.rooms.reverse.each do |r| %>
			<option value="<%= r.id %>"><%= r.room_name %></option>
		<% end %>
	</select>

	<label for="check_in_initials">Initials</label>
	<input type="text" name="room[check_in][][initials]" id="check_in_initials">
	
	<label for="check_in_comment">Comment</label>
	<input type="textarea" name="room[check_in][][comment]" id="check_in_comment">
</div>

<br>

<div>
	SECOND CHECK_IN

	<select name="room[check_in][][status]">
		<option value="awake">Asleep</option>
		<option value="sleep">Awake</option>
		<option value="bathroom">Bathroom</option>
		<option value="pass">Pass</option>
		<option value="awol">AWOL</option>
	</select>

	<select name="room[check_in][][room_id]" id="check_in_room_select">
		<% @tour.house.rooms.reverse.each do |r| %>
			<option value="<%= r.id %>"><%= r.room_name %></option>
		<% end %>
	</select>

	<label for="check_in_initials">Initials</label>
	<input type="text" name="room[check_in][][initials]" id="check_in_initials">
	
	<label for="check_in_comment">Comment</label>
	<input type="textarea" name="room[check_in][][comment]" id="check_in_comment">
</div>

	<!-- this needs to take it's value through jQuery -->
	<!-- <input type="hidden" name="check_in[room_id]" value=""> -->

	<input type="submit" value="Submit Room">
</form>