<div class="row">
	<div class="small-5 columns small-centered">
		<h2>Tour Review</h2>
	</div>
</div>

<script type="text/javascript">
	var brokenImage = function(image){
		$(image).attr("id", "broken-image");
		$(image).next().attr("id", "show-span");
	}
</script>

<div class="row">
	<div class="small-10 columns small-centered">
		<table class="tour-table">
			<thead>
				<tr>
					<td>House</td>
					<td>Start Time</td>
					<td>Start Image</td>
					<td>End Time</td>
					<td>End Image</td>
				</tr>
			</thead>
			<tbody>
				<% @tours.each do |t| %>
					<tr>
						<td><%= t.house.house_name %></td>
						<td><%= format_date_time(t.created_at) %></td>
						<td>
							<%= image_tag t.start_img.url(:small), id:"", onerror: "brokenImage(this)" %>
							<span id="hide-span">
								<h3>Incomplete</h3>
							</span>
						</td>
						<td><%= format_date_time(t.updated_at) %></td>
						<td>
							<%= image_tag t.end_img.url(:small), id:"", onerror: "brokenImage(this)" %>
							<span id="hide-span">
								<h3>Incomplete</h3>
							</span>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div id="paginateTours">
	<%= paginate @tours %>
</div>
