<div class="row">
	<div class="small-6 columns small-centered">
		<h2>Start Tour</h2>
	</div>
</div>

<div class="row">
	<div class="small-8 columns small-centered">
		<form action="<%= tours_url %>" method="post" enctype="multipart/form-data">
			<%= auth_token %>

			<% if current_user.superuser? %>
				<select name="tour[house_id]" id="admin_house_select">
					<% @houses.each do |h| %>
						<option value="<%= h.id %>"><%= h.house_name %></option>
					<% end %>
				</select>
			<% else %>
				<input type="hidden" name="tour[house_id]" value="<%= current_user.houses.first.id %>">
			<% end %>

		<input type="file" name="tour[start_img]" id="take-picture" accept='image/png, image/jpeg'>
		<input type="submit" value="Upload" class="button">
		</form>
	</div>
</div>
