<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	  <title>Brandon BedCheck</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<% if !current_user.nil? %>
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="#">Brandon Bed Check</a></h1>
					</li>
				</ul>

				<section class="top-bar-section">
					<ul class="left">
						<li class="divider"></li>
						<li><a href="#"><%= current_user.username %></a></li>
					</ul>

					<ul class="right">
						<li class="divider"></li>
						<li><a href="<%= user_url(current_user.id) %>">New Tour</a></li>
						<li class="divider"></li>
						<% if current_user.superuser? %>
							<li><a href="<%= houses_url %>">In Progress Tours</a></li>
							<li class="divider"></li>
							<li><a href="<%= check_ins_url %>">Check-In Review</a></li>
							<li class="divider"></li>
							<li><a href="<%= tours_url %>">Tour Review</a></li>
							<li class="divider"></li>
						<% end %>
						<li class="has-form">
							<form action="<%= session_url %>" method="post">
								<input type="hidden" name="_method" value="delete">
								<%= auth_token %>
								<button class="button tiny alert">Logout</button>
							</form>
						</li>
					</ul>
				</section>
			</nav>
		<% end %>

		<% if flash.now[:errors] %>
			<%= flash.now[:errors] %>
		<% end %>

    <%= yield %>

  </body>
</html>